@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thumbnail {
  max-width: 400px;
  max-height: 400px;
}

.post-image {
  max-width: 600px;
  max-height: 600px;
}
